Repository tier4/autoware.universe, changes with the owners that .github/CODEOWNERS names for each.
All owners: isamu.takagi@tier4.jp, opensource@apex.ai, satoshi.tanaka@tier4.jp, taiki.tanaka@tier4.jp, jit.ray.c@gmail.com, taichi.higashide@tier4.jp, adam.dabrowski@robotec.ai, kenji.miyake@tier4.jp, maxime.clement@tier4.jp, fumiya.watanabe@tier4.jp, takayuki.murooka@tier4.jp, koji.minoda@tier4.jp, takeshi.ishita@tier4.jp, yukihiro.saito@tier4.jp, christopherj.ho@gmail.com, satoshi.ota@tier4.jp, yutaka.shimizu@tier4.jp, shunsuke.miura@tier4.jp, yusuke.muramatsu@tier4.jp, takamasa.horibe@tier4.jp, tomoya.kimura@tier4.jp, hiroki.ota@tier4.jp, daisuke.nishimatsu@tier4.jp, ambroise.vincent@arm.com, mfc@leodrive.ai, ali.boyali@tier4.jp, berkay@leodrive.ai, kyoichi.sugahara@tier4.jp, dominik.jargot@robotec.ai, ryohsuke.mitsudome@tier4.jp, yamato.ando@tier4.jp, kosuke.takeuchi@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, shumpei.wakabayashi@tier4.jp, tomohito.ando@tier4.jp, zulfaqar.azmi@tier4.jp, keisuke.shima@tier4.jp, fumihito.ito@tier4.jp, kento.yabuuchi.2@tier4.jp, azumi.suzuki@tier4.jp, abrahammonrroy@yahoo.com, dai.nguyen@tier4.jp, kotaro.uetake@tier4.jp, jilada.eccleston@tier4.jp, ryu.yamamoto@tier4.jp, shpark@morai.ai

chore(dynamic_avoidance): revert debug marker's color (#4450)
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix build
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(obstacle_avoidance_planner): add depth argument in plotter (#4605)
  planning/obstacle_avoidance_planner/scripts/calculation_time_plotter.py
Owners: takayuki.murooka@tier4.jp

po
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

add a guard of LPF for reference path changed by avoidance/LC
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(start_planner): add surround moving obstacle check (#5782)
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(simple_planning_simulator): add TimeController class
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

feat(simple_planning_simulator): use TimeController in SimplePlanningSimulator
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Owners: takamasa.horibe@tier4.jp

chore(simple_planning_simulator): modify queue size
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Owners: takamasa.horibe@tier4.jp

feat: add vcu_planning_simulation
  launch/tier4_simulator_launch/launch/simulator_with_vcu_simulation.launch copy.xml
  launch/tier4_simulator_launch/package.xml
  simulator/vcu_planning_simulator/CMakeLists.txt
  simulator/vcu_planning_simulator/config/simulator_model.param.yaml
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model_delay_steer_vel.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model_ideal_steer_vel.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model_interface.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/visibility_control.hpp
  simulator/vcu_planning_simulator/launch/vcu_planning_simulator.launch.py
  simulator/vcu_planning_simulator/package.xml
  simulator/vcu_planning_simulator/param/vcu_planning_simulator_default.param.yaml
  simulator/vcu_planning_simulator/param/vehicle_characteristics.param.yaml
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vehicle_model/sim_model_delay_steer_vel.cpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vehicle_model/sim_model_ideal_steer_vel.cpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vehicle_model/sim_model_interface.cpp
  simulator/vcu_planning_simulator/test/test_vcu_planning_simulator.cpp
Owners: keisuke.shima@tier4.jp

feat: add had_map_bin.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
Owners: none

fix: add using hadmapbin
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
Owners: none

feat: restore to origin vcu_planning_simulator
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
  simulator/vcu_planning_simulator/launch/vcu_planning_simulator.launch.py
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
Owners: none

feat: fix derectory name
  launch/tier4_simulator_launch/launch/simulator_with_vcu_simulation.launch.xml
Owners: keisuke.shima@tier4.jp

feat: fix vcu_planning_simulation path
  launch/tier4_simulator_launch/launch/simulator_with_vcu_simulation.launch.xml
Owners: keisuke.shima@tier4.jp

feat: vcu_sim publish acceleration
  simulator/simple_planning_simulator/param/simple_planning_simulator_default.param.yaml
  simulator/vcu_planning_simulator/config/simulator_model.param.yaml
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
  simulator/vcu_planning_simulator/launch/vcu_planning_simulator.launch.py
  simulator/vcu_planning_simulator/param/vcu_planning_simulator_default.param.yaml
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
Owners: takamasa.horibe@tier4.jp

feat: add control report
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
Owners: none

update system launch
  launch/tier4_system_launch/launch/system.launch.xml
Owners: fumihito.ito@tier4.jp, kenji.miyake@tier4.jp

add dump tool
  system/diagnostic_graph_aggregator/CMakeLists.txt
  system/diagnostic_graph_aggregator/tool/dump
Owners: none

add hazard status converter
  system/hazard_status_converter/CMakeLists.txt
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/script/hazard_status_converter.py
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Owners: none

fix hazard status converter
  system/hazard_status_converter/CMakeLists.txt
  system/hazard_status_converter/config/default.param.yaml
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/script/hazard_status_converter.py
  system/hazard_status_converter/src/converter.cpp
Owners: none

fix(static_centerline_optimizer): fix several bugs and refactor the code
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/static_centerline_optimizer/CMakeLists.txt
  planning/static_centerline_optimizer/include/static_centerline_optimizer/static_centerline_optimizer_node.hpp
  planning/static_centerline_optimizer/include/static_centerline_optimizer/successive_trajectory_optimizer_node.hpp
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/package.xml
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
  planning/static_centerline_optimizer/src/successive_trajectory_optimizer_node.cpp
  planning/static_centerline_optimizer/test/test_static_centerline_optimizer.test.py
Owners: takayuki.murooka@tier4.jp

fix
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/static_centerline_optimizer/launch/static_centerline_optimizer.launch.xml
  planning/static_centerline_optimizer/src/static_centerline_optimizer_node.cpp
Owners: takayuki.murooka@tier4.jp

fix: update how to include tier4_autoware_utils
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
Owners: none

feat: add param_path for traking
  launch/tier4_simulator_launch/launch/simulator_with_vcu_simulation.launch.xml
Owners: keisuke.shima@tier4.jp

this is awf@main at #6042 + draft #6048 + migration for beta/v0.43.6
  planning/behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-stoplines.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-with-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-without-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-wo-tl-creeping.png
  planning/behavior_velocity_intersection_module/docs/occlusion_grid.drawio.svg
  planning/behavior_velocity_intersection_module/docs/signal-phase-group.drawio.svg
  planning/behavior_velocity_intersection_module/docs/static-occlusion-timeout.png
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/docs/traffic-light-specific-behavior.drawio.svg
  planning/behavior_velocity_intersection_module/docs/ugly-intersection.drawio.svg
  planning/behavior_velocity_intersection_module/docs/yield-stuck.drawio.svg
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/src/utilization/util.cpp
Owners: none

feat(probabilistic_occupancy_grid_map): add grid map fusion node (#5993)
  launch/tier4_perception_launch/launch/occupancy_grid_map/probabilistic_occupancy_grid_map.launch.xml
  perception/probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/synchronized_grid_map_fusion_node.param.yaml
  perception/probabilistic_occupancy_grid_map/image/synchronized_grid_map_fusion.drawio.svg
  perception/probabilistic_occupancy_grid_map/include/cost_value.hpp
  perception/probabilistic_occupancy_grid_map/include/fusion/single_frame_fusion_policy.hpp
  perception/probabilistic_occupancy_grid_map/include/fusion/synchronized_grid_map_fusion_node.hpp
  perception/probabilistic_occupancy_grid_map/include/updater/occupancy_grid_map_log_odds_bayes_filter_updater.hpp
  perception/probabilistic_occupancy_grid_map/include/utils/utils.hpp
  perception/probabilistic_occupancy_grid_map/launch/synchronized_occupancy_grid_map_fusion.launch.xml
  perception/probabilistic_occupancy_grid_map/src/fusion/single_frame_fusion_policy.cpp
  perception/probabilistic_occupancy_grid_map/src/fusion/synchronized_grid_map_fusion_node.cpp
  perception/probabilistic_occupancy_grid_map/src/updater/occupancy_grid_map_log_odds_bayes_filter_updater.cpp
  perception/probabilistic_occupancy_grid_map/src/utils/utils.cpp
  perception/probabilistic_occupancy_grid_map/synchronized_grid_map_fusion.md
  perception/probabilistic_occupancy_grid_map/test/cost_value_test.cpp
  perception/probabilistic_occupancy_grid_map/test/fusion_policy_test.cpp
  perception/probabilistic_occupancy_grid_map/test/test_synchronized_grid_map_fusion_node.py
Owners: shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp

formalize pass judge
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Owners: none

いくつかバグがあった
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Owners: none

feat(simple_planning_simulator): TimeController::sleep_until_frame_time
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

feat(simple_planning_simulator): save timing statistics in destructor of TimeController
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

chore(simple_planning_simulator): use comma for csv
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

chore(simple_planning_simulator): change csv saving timing from destructor to indicated timing
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

fix(simple_planning_simulator): avoid using uninitialized rclcpp::Time
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

fix(simple_planning_simulator): adjust time consistency
  simulator/simple_planning_simulator/include/simple_planning_simulator/rosbag_replayer.hpp
Owners: takamasa.horibe@tier4.jp

feature(jari_rosbag_replayer): add a script to plot stamp diffs
  jari_rosbag_replayer/plot_timing_diffs.py
Owners: none

feat(ad_api_distributor): add ad_api_distributor
  launch/tier4_autoware_api_launch/launch/autoware_api.launch.xml
  launch/tier4_autoware_api_launch/package.xml
  system/default_ad_api_helpers/ad_api_distributor/CMakeLists.txt
  system/default_ad_api_helpers/ad_api_distributor/README.md
  system/default_ad_api_helpers/ad_api_distributor/launch/distributor.launch.xml
  system/default_ad_api_helpers/ad_api_distributor/launch/remapped_api.launch.py
  system/default_ad_api_helpers/ad_api_distributor/package.xml
  system/default_ad_api_helpers/ad_api_distributor/src/distributor.cpp
  system/default_ad_api_helpers/ad_api_distributor/src/distributor.hpp
Owners: isamu.takagi@tier4.jp, ryohsuke.mitsudome@tier4.jp

feat(diagnostic_graph_aggregator): update launch file and add dump tool
  launch/tier4_system_launch/launch/system.launch.xml
  system/diagnostic_graph_aggregator/CMakeLists.txt
  system/diagnostic_graph_aggregator/tool/dump
Owners: fumihito.ito@tier4.jp, kenji.miyake@tier4.jp

feat(emergency_handler): support availability request for mrm v0.5
  system/emergency_handler/config/emergency_handler.param.yaml
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Owners: kenji.miyake@tier4.jp

feat(hazard_status_converter): add hazard_status_converter
  system/hazard_status_converter/CMakeLists.txt
  system/hazard_status_converter/config/default.param.yaml
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Owners: none

.github/CODEOWNERS:

### Copied from .github/CODEOWNERS-manual ###

### Automatically generated from package.xml ###
common/autoware_ad_api_specs/** isamu.takagi@tier4.jp
common/autoware_auto_common/** opensource@apex.ai
common/autoware_auto_geometry/** opensource@apex.ai
common/autoware_auto_perception_rviz_plugin/** opensource@apex.ai satoshi.tanaka@tier4.jp taiki.tanaka@tier4.jp
common/autoware_auto_tf2/** jit.ray.c@gmail.com
common/autoware_point_types/** taichi.higashide@tier4.jp
common/autoware_testing/** adam.dabrowski@robotec.ai
common/bag_time_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/component_interface_specs/** isamu.takagi@tier4.jp
common/component_interface_utils/** isamu.takagi@tier4.jp
common/fake_test_node/** opensource@apex.ai
common/global_parameter_loader/** kenji.miyake@tier4.jp
common/goal_distance_calculator/** taiki.tanaka@tier4.jp
common/grid_map_utils/** maxime.clement@tier4.jp
common/interpolation/** fumiya.watanabe@tier4.jp takayuki.murooka@tier4.jp
common/kalman_filter/** koji.minoda@tier4.jp takeshi.ishita@tier4.jp yukihiro.saito@tier4.jp
common/motion_common/** christopherj.ho@gmail.com
common/motion_testing/** christopherj.ho@gmail.com
common/motion_utils/** satoshi.ota@tier4.jp taiki.tanaka@tier4.jp takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
common/osqp_interface/** fumiya.watanabe@tier4.jp maxime.clement@tier4.jp satoshi.ota@tier4.jp takayuki.murooka@tier4.jp
common/path_distance_calculator/** isamu.takagi@tier4.jp
common/perception_utils/** satoshi.tanaka@tier4.jp shunsuke.miura@tier4.jp takayuki.murooka@tier4.jp yusuke.muramatsu@tier4.jp
common/polar_grid/** yukihiro.saito@tier4.jp
common/rtc_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/signal_processing/** takayuki.murooka@tier4.jp
common/tier4_api_utils/** isamu.takagi@tier4.jp
common/tier4_autoware_utils/** kenji.miyake@tier4.jp takamasa.horibe@tier4.jp
common/tier4_calibration_rviz_plugin/** tomoya.kimura@tier4.jp
common/tier4_control_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_datetime_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_debug_rviz_plugin/** takayuki.murooka@tier4.jp
common/tier4_debug_tools/** kenji.miyake@tier4.jp
common/tier4_localization_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_perception_rviz_plugin/** yukihiro.saito@tier4.jp
common/tier4_planning_rviz_plugin/** takayuki.murooka@tier4.jp yukihiro.saito@tier4.jp
common/tier4_screen_capture_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_simulated_clock_rviz_plugin/** maxime.clement@tier4.jp
common/tier4_state_rviz_plugin/** hiroki.ota@tier4.jp
common/tier4_traffic_light_rviz_plugin/** satoshi.ota@tier4.jp
common/tier4_vehicle_rviz_plugin/** yukihiro.saito@tier4.jp
common/time_utils/** christopherj.ho@gmail.com
common/trtexec_vendor/** daisuke.nishimatsu@tier4.jp
common/tvm_utility/** ambroise.vincent@arm.com
common/vehicle_constants_manager/** mfc@leodrive.ai
common/web_controller/** yukihiro.saito@tier4.jp
control/control_performance_analysis/** ali.boyali@tier4.jp berkay@leodrive.ai
control/external_cmd_selector/** kenji.miyake@tier4.jp
control/joy_controller/** kenji.miyake@tier4.jp
control/lane_departure_checker/** kyoichi.sugahara@tier4.jp
control/obstacle_collision_checker/** kenji.miyake@tier4.jp
control/operation_mode_transition_manager/** takamasa.horibe@tier4.jp
control/pure_pursuit/** takamasa.horibe@tier4.jp
control/shift_decider/** takamasa.horibe@tier4.jp
control/trajectory_follower/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/trajectory_follower_nodes/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/vehicle_cmd_gate/** takamasa.horibe@tier4.jp
evaluator/kinematic_evaluator/** dominik.jargot@robotec.ai
evaluator/localization_evaluator/** dominik.jargot@robotec.ai
launch/tier4_autoware_api_launch/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp
launch/tier4_control_launch/** takamasa.horibe@tier4.jp
launch/tier4_localization_launch/** yamato.ando@tier4.jp
launch/tier4_map_launch/** ryohsuke.mitsudome@tier4.jp
launch/tier4_perception_launch/** shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
launch/tier4_planning_launch/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
launch/tier4_sensing_launch/** yukihiro.saito@tier4.jp
launch/tier4_simulator_launch/** keisuke.shima@tier4.jp
launch/tier4_system_launch/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
launch/tier4_vehicle_launch/** yukihiro.saito@tier4.jp
localization/ekf_localizer/** koji.minoda@tier4.jp takamasa.horibe@tier4.jp takeshi.ishita@tier4.jp yamato.ando@tier4.jp
localization/gyro_odometer/** yamato.ando@tier4.jp
localization/initial_pose_button_panel/** yamato.ando@tier4.jp
localization/localization_error_monitor/** yamato.ando@tier4.jp
localization/ndt_scan_matcher/** kento.yabuuchi.2@tier4.jp koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/pose2twist/** yamato.ando@tier4.jp
localization/pose_initializer/** isamu.takagi@tier4.jp yamato.ando@tier4.jp
localization/stop_filter/** koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/twist2accel/** koji.minoda@tier4.jp yamato.ando@tier4.jp
map/map_loader/** kenji.miyake@tier4.jp ryohsuke.mitsudome@tier4.jp
map/map_tf_generator/** azumi.suzuki@tier4.jp
map/util/lanelet2_map_preprocessor/** ryohsuke.mitsudome@tier4.jp
perception/compare_map_segmentation/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/crosswalk_traffic_light_estimator/** satoshi.ota@tier4.jp
perception/detected_object_feature_remover/** tomoya.kimura@tier4.jp
perception/detected_object_validation/** yukihiro.saito@tier4.jp
perception/detection_by_tracker/** yukihiro.saito@tier4.jp
perception/elevation_map_loader/** kosuke.takeuchi@tier4.jp taichi.higashide@tier4.jp
perception/euclidean_cluster/** yukihiro.saito@tier4.jp
perception/front_vehicle_velocity_estimator/** satoshi.tanaka@tier4.jp
perception/ground_segmentation/** abrahammonrroy@yahoo.com dai.nguyen@tier4.jp shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
perception/heatmap_visualizer/** kotaro.uetake@tier4.jp
perception/image_projection_based_fusion/** yukihiro.saito@tier4.jp yusuke.muramatsu@tier4.jp
perception/lidar_apollo_instance_segmentation/** yukihiro.saito@tier4.jp
perception/lidar_apollo_segmentation_tvm/** ambroise.vincent@arm.com
perception/lidar_apollo_segmentation_tvm_nodes/** ambroise.vincent@arm.com
perception/lidar_centerpoint/** yusuke.muramatsu@tier4.jp
perception/map_based_prediction/** yutaka.shimizu@tier4.jp
perception/multi_object_tracker/** jilada.eccleston@tier4.jp yukihiro.saito@tier4.jp
perception/object_merger/** yukihiro.saito@tier4.jp
perception/object_range_splitter/** yukihiro.saito@tier4.jp
perception/occupancy_grid_map_outlier_filter/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/probabilistic_occupancy_grid_map/** yukihiro.saito@tier4.jp
perception/radar_fusion_to_detected_object/** satoshi.tanaka@tier4.jp
perception/radar_tracks_msgs_converter/** satoshi.tanaka@tier4.jp
perception/shape_estimation/** yukihiro.saito@tier4.jp
perception/tensorrt_yolo/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_classifier/** yukihiro.saito@tier4.jp
perception/traffic_light_map_based_detector/** yukihiro.saito@tier4.jp
perception/traffic_light_ssd_fine_detector/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_visualization/** yukihiro.saito@tier4.jp
planning/behavior_path_planner/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
planning/behavior_velocity_planner/** kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp
planning/costmap_generator/** kenji.miyake@tier4.jp
planning/external_velocity_limit_selector/** satoshi.ota@tier4.jp
planning/freespace_planner/** takamasa.horibe@tier4.jp
planning/freespace_planning_algorithms/** takamasa.horibe@tier4.jp
planning/mission_planner/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
planning/motion_velocity_smoother/** fumiya.watanabe@tier4.jp
planning/obstacle_avoidance_planner/** takayuki.murooka@tier4.jp
planning/obstacle_cruise_planner/** takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
planning/obstacle_stop_planner/** satoshi.ota@tier4.jp
planning/planning_debug_tools/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
planning/planning_error_monitor/** yutaka.shimizu@tier4.jp
planning/planning_evaluator/** maxime.clement@tier4.jp
planning/route_handler/** fumiya.watanabe@tier4.jp
planning/rtc_auto_mode_manager/** fumiya.watanabe@tier4.jp
planning/rtc_interface/** fumiya.watanabe@tier4.jp
planning/rtc_replayer/** fumiya.watanabe@tier4.jp taiki.tanaka@tier4.jp
planning/scenario_selector/** kenji.miyake@tier4.jp
planning/surround_obstacle_checker/** satoshi.ota@tier4.jp
sensing/geo_pos_conv/** yamato.ando@tier4.jp
sensing/gnss_poser/** yamato.ando@tier4.jp
sensing/image_diagnostics/** dai.nguyen@tier4.jp
sensing/image_transport_decompressor/** yukihiro.saito@tier4.jp
sensing/imu_corrector/** yamato.ando@tier4.jp
sensing/livox/livox_tag_filter/** kenji.miyake@tier4.jp
sensing/pointcloud_preprocessor/** abrahammonrroy@yahoo.com shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
sensing/tier4_pcl_extensions/** ryu.yamamoto@tier4.jp
sensing/vehicle_velocity_converter/** ryu.yamamoto@tier4.jp
simulator/dummy_perception_publisher/** yukihiro.saito@tier4.jp
simulator/fault_injection/** keisuke.shima@tier4.jp
simulator/simple_planning_simulator/** takamasa.horibe@tier4.jp
system/ad_service_state_monitor/** kenji.miyake@tier4.jp
system/bluetooth_monitor/** fumihito.ito@tier4.jp
system/component_state_monitor/** isamu.takagi@tier4.jp
system/default_ad_api/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/ad_api_adaptors/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/automatic_pose_initializer/** isamu.takagi@tier4.jp
system/dummy_diag_publisher/** kenji.miyake@tier4.jp
system/dummy_infrastructure/** kenji.miyake@tier4.jp
system/emergency_handler/** kenji.miyake@tier4.jp
system/system_error_monitor/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
system/system_monitor/** fumihito.ito@tier4.jp
system/topic_state_monitor/** kenji.miyake@tier4.jp
system/velodyne_monitor/** fumihito.ito@tier4.jp
tools/simulator_test/simulator_compatibility_test/** shpark@morai.ai
vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/** tomoya.kimura@tier4.jp
vehicle/external_cmd_converter/** takamasa.horibe@tier4.jp
vehicle/raw_vehicle_cmd_converter/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
vehicle/steer_offset_estimator/** taiki.tanaka@tier4.jp
vehicle/vehicle_info_util/** shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomoya.kimura@tier4.jp yamato.ando@tier4.jp
