Repository tier4/autoware.universe, changes with the owners that .github/CODEOWNERS names for each.
All owners: isamu.takagi@tier4.jp, opensource@apex.ai, satoshi.tanaka@tier4.jp, taiki.tanaka@tier4.jp, jit.ray.c@gmail.com, taichi.higashide@tier4.jp, adam.dabrowski@robotec.ai, kenji.miyake@tier4.jp, maxime.clement@tier4.jp, fumiya.watanabe@tier4.jp, takayuki.murooka@tier4.jp, koji.minoda@tier4.jp, takeshi.ishita@tier4.jp, yukihiro.saito@tier4.jp, christopherj.ho@gmail.com, satoshi.ota@tier4.jp, yutaka.shimizu@tier4.jp, shunsuke.miura@tier4.jp, yusuke.muramatsu@tier4.jp, takamasa.horibe@tier4.jp, tomoya.kimura@tier4.jp, hiroki.ota@tier4.jp, daisuke.nishimatsu@tier4.jp, ambroise.vincent@arm.com, mfc@leodrive.ai, ali.boyali@tier4.jp, berkay@leodrive.ai, kyoichi.sugahara@tier4.jp, dominik.jargot@robotec.ai, ryohsuke.mitsudome@tier4.jp, yamato.ando@tier4.jp, kosuke.takeuchi@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, shumpei.wakabayashi@tier4.jp, tomohito.ando@tier4.jp, zulfaqar.azmi@tier4.jp, keisuke.shima@tier4.jp, fumihito.ito@tier4.jp, kento.yabuuchi.2@tier4.jp, azumi.suzuki@tier4.jp, abrahammonrroy@yahoo.com, dai.nguyen@tier4.jp, kotaro.uetake@tier4.jp, jilada.eccleston@tier4.jp, ryu.yamamoto@tier4.jp, shpark@morai.ai

.github/CODEOWNERS:

### Copied from .github/CODEOWNERS-manual ###

### Automatically generated from package.xml ###
common/autoware_ad_api_specs/** isamu.takagi@tier4.jp
common/autoware_auto_common/** opensource@apex.ai
common/autoware_auto_geometry/** opensource@apex.ai
common/autoware_auto_perception_rviz_plugin/** opensource@apex.ai satoshi.tanaka@tier4.jp taiki.tanaka@tier4.jp
common/autoware_auto_tf2/** jit.ray.c@gmail.com
common/autoware_point_types/** taichi.higashide@tier4.jp
common/autoware_testing/** adam.dabrowski@robotec.ai
common/bag_time_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/component_interface_specs/** isamu.takagi@tier4.jp
common/component_interface_utils/** isamu.takagi@tier4.jp
common/fake_test_node/** opensource@apex.ai
common/global_parameter_loader/** kenji.miyake@tier4.jp
common/goal_distance_calculator/** taiki.tanaka@tier4.jp
common/grid_map_utils/** maxime.clement@tier4.jp
common/interpolation/** fumiya.watanabe@tier4.jp takayuki.murooka@tier4.jp
common/kalman_filter/** koji.minoda@tier4.jp takeshi.ishita@tier4.jp yukihiro.saito@tier4.jp
common/motion_common/** christopherj.ho@gmail.com
common/motion_testing/** christopherj.ho@gmail.com
common/motion_utils/** satoshi.ota@tier4.jp taiki.tanaka@tier4.jp takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
common/osqp_interface/** fumiya.watanabe@tier4.jp maxime.clement@tier4.jp satoshi.ota@tier4.jp takayuki.murooka@tier4.jp
common/path_distance_calculator/** isamu.takagi@tier4.jp
common/perception_utils/** satoshi.tanaka@tier4.jp shunsuke.miura@tier4.jp takayuki.murooka@tier4.jp yusuke.muramatsu@tier4.jp
common/polar_grid/** yukihiro.saito@tier4.jp
common/rtc_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/signal_processing/** takayuki.murooka@tier4.jp
common/tier4_api_utils/** isamu.takagi@tier4.jp
common/tier4_autoware_utils/** kenji.miyake@tier4.jp takamasa.horibe@tier4.jp
common/tier4_calibration_rviz_plugin/** tomoya.kimura@tier4.jp
common/tier4_control_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_datetime_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_debug_rviz_plugin/** takayuki.murooka@tier4.jp
common/tier4_debug_tools/** kenji.miyake@tier4.jp
common/tier4_localization_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_perception_rviz_plugin/** yukihiro.saito@tier4.jp
common/tier4_planning_rviz_plugin/** takayuki.murooka@tier4.jp yukihiro.saito@tier4.jp
common/tier4_screen_capture_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_simulated_clock_rviz_plugin/** maxime.clement@tier4.jp
common/tier4_state_rviz_plugin/** hiroki.ota@tier4.jp
common/tier4_traffic_light_rviz_plugin/** satoshi.ota@tier4.jp
common/tier4_vehicle_rviz_plugin/** yukihiro.saito@tier4.jp
common/time_utils/** christopherj.ho@gmail.com
common/trtexec_vendor/** daisuke.nishimatsu@tier4.jp
common/tvm_utility/** ambroise.vincent@arm.com
common/vehicle_constants_manager/** mfc@leodrive.ai
common/web_controller/** yukihiro.saito@tier4.jp
control/control_performance_analysis/** ali.boyali@tier4.jp berkay@leodrive.ai
control/external_cmd_selector/** kenji.miyake@tier4.jp
control/joy_controller/** kenji.miyake@tier4.jp
control/lane_departure_checker/** kyoichi.sugahara@tier4.jp
control/obstacle_collision_checker/** kenji.miyake@tier4.jp
control/operation_mode_transition_manager/** takamasa.horibe@tier4.jp
control/pure_pursuit/** takamasa.horibe@tier4.jp
control/shift_decider/** takamasa.horibe@tier4.jp
control/trajectory_follower/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/trajectory_follower_nodes/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/vehicle_cmd_gate/** takamasa.horibe@tier4.jp
evaluator/kinematic_evaluator/** dominik.jargot@robotec.ai
evaluator/localization_evaluator/** dominik.jargot@robotec.ai
launch/tier4_autoware_api_launch/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp
launch/tier4_control_launch/** takamasa.horibe@tier4.jp
launch/tier4_localization_launch/** yamato.ando@tier4.jp
launch/tier4_map_launch/** ryohsuke.mitsudome@tier4.jp
launch/tier4_perception_launch/** shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
launch/tier4_planning_launch/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
launch/tier4_sensing_launch/** yukihiro.saito@tier4.jp
launch/tier4_simulator_launch/** keisuke.shima@tier4.jp
launch/tier4_system_launch/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
launch/tier4_vehicle_launch/** yukihiro.saito@tier4.jp
localization/ekf_localizer/** koji.minoda@tier4.jp takamasa.horibe@tier4.jp takeshi.ishita@tier4.jp yamato.ando@tier4.jp
localization/gyro_odometer/** yamato.ando@tier4.jp
localization/initial_pose_button_panel/** yamato.ando@tier4.jp
localization/localization_error_monitor/** yamato.ando@tier4.jp
localization/ndt_scan_matcher/** kento.yabuuchi.2@tier4.jp koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/pose2twist/** yamato.ando@tier4.jp
localization/pose_initializer/** isamu.takagi@tier4.jp yamato.ando@tier4.jp
localization/stop_filter/** koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/twist2accel/** koji.minoda@tier4.jp yamato.ando@tier4.jp
map/map_loader/** kenji.miyake@tier4.jp ryohsuke.mitsudome@tier4.jp
map/map_tf_generator/** azumi.suzuki@tier4.jp
map/util/lanelet2_map_preprocessor/** ryohsuke.mitsudome@tier4.jp
perception/compare_map_segmentation/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/crosswalk_traffic_light_estimator/** satoshi.ota@tier4.jp
perception/detected_object_feature_remover/** tomoya.kimura@tier4.jp
perception/detected_object_validation/** yukihiro.saito@tier4.jp
perception/detection_by_tracker/** yukihiro.saito@tier4.jp
perception/elevation_map_loader/** kosuke.takeuchi@tier4.jp taichi.higashide@tier4.jp
perception/euclidean_cluster/** yukihiro.saito@tier4.jp
perception/front_vehicle_velocity_estimator/** satoshi.tanaka@tier4.jp
perception/ground_segmentation/** abrahammonrroy@yahoo.com dai.nguyen@tier4.jp shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
perception/heatmap_visualizer/** kotaro.uetake@tier4.jp
perception/image_projection_based_fusion/** yukihiro.saito@tier4.jp yusuke.muramatsu@tier4.jp
perception/lidar_apollo_instance_segmentation/** yukihiro.saito@tier4.jp
perception/lidar_apollo_segmentation_tvm/** ambroise.vincent@arm.com
perception/lidar_apollo_segmentation_tvm_nodes/** ambroise.vincent@arm.com
perception/lidar_centerpoint/** yusuke.muramatsu@tier4.jp
perception/map_based_prediction/** yutaka.shimizu@tier4.jp
perception/multi_object_tracker/** jilada.eccleston@tier4.jp yukihiro.saito@tier4.jp
perception/object_merger/** yukihiro.saito@tier4.jp
perception/object_range_splitter/** yukihiro.saito@tier4.jp
perception/occupancy_grid_map_outlier_filter/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/probabilistic_occupancy_grid_map/** yukihiro.saito@tier4.jp
perception/radar_fusion_to_detected_object/** satoshi.tanaka@tier4.jp
perception/radar_tracks_msgs_converter/** satoshi.tanaka@tier4.jp
perception/shape_estimation/** yukihiro.saito@tier4.jp
perception/tensorrt_yolo/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_classifier/** yukihiro.saito@tier4.jp
perception/traffic_light_map_based_detector/** yukihiro.saito@tier4.jp
perception/traffic_light_ssd_fine_detector/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_visualization/** yukihiro.saito@tier4.jp
planning/behavior_path_planner/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
planning/behavior_velocity_planner/** kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp
planning/costmap_generator/** kenji.miyake@tier4.jp
planning/external_velocity_limit_selector/** satoshi.ota@tier4.jp
planning/freespace_planner/** takamasa.horibe@tier4.jp
planning/freespace_planning_algorithms/** takamasa.horibe@tier4.jp
planning/mission_planner/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
planning/motion_velocity_smoother/** fumiya.watanabe@tier4.jp
planning/obstacle_avoidance_planner/** takayuki.murooka@tier4.jp
planning/obstacle_cruise_planner/** takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
planning/obstacle_stop_planner/** satoshi.ota@tier4.jp
planning/planning_debug_tools/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
planning/planning_error_monitor/** yutaka.shimizu@tier4.jp
planning/planning_evaluator/** maxime.clement@tier4.jp
planning/route_handler/** fumiya.watanabe@tier4.jp
planning/rtc_auto_mode_manager/** fumiya.watanabe@tier4.jp
planning/rtc_interface/** fumiya.watanabe@tier4.jp
planning/rtc_replayer/** fumiya.watanabe@tier4.jp taiki.tanaka@tier4.jp
planning/scenario_selector/** kenji.miyake@tier4.jp
planning/surround_obstacle_checker/** satoshi.ota@tier4.jp
sensing/geo_pos_conv/** yamato.ando@tier4.jp
sensing/gnss_poser/** yamato.ando@tier4.jp
sensing/image_diagnostics/** dai.nguyen@tier4.jp
sensing/image_transport_decompressor/** yukihiro.saito@tier4.jp
sensing/imu_corrector/** yamato.ando@tier4.jp
sensing/livox/livox_tag_filter/** kenji.miyake@tier4.jp
sensing/pointcloud_preprocessor/** abrahammonrroy@yahoo.com shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
sensing/tier4_pcl_extensions/** ryu.yamamoto@tier4.jp
sensing/vehicle_velocity_converter/** ryu.yamamoto@tier4.jp
simulator/dummy_perception_publisher/** yukihiro.saito@tier4.jp
simulator/fault_injection/** keisuke.shima@tier4.jp
simulator/simple_planning_simulator/** takamasa.horibe@tier4.jp
system/ad_service_state_monitor/** kenji.miyake@tier4.jp
system/bluetooth_monitor/** fumihito.ito@tier4.jp
system/component_state_monitor/** isamu.takagi@tier4.jp
system/default_ad_api/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/ad_api_adaptors/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/automatic_pose_initializer/** isamu.takagi@tier4.jp
system/dummy_diag_publisher/** kenji.miyake@tier4.jp
system/dummy_infrastructure/** kenji.miyake@tier4.jp
system/emergency_handler/** kenji.miyake@tier4.jp
system/system_error_monitor/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
system/system_monitor/** fumihito.ito@tier4.jp
system/topic_state_monitor/** kenji.miyake@tier4.jp
system/velodyne_monitor/** fumihito.ito@tier4.jp
tools/simulator_test/simulator_compatibility_test/** shpark@morai.ai
vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/** tomoya.kimura@tier4.jp
vehicle/external_cmd_converter/** takamasa.horibe@tier4.jp
vehicle/raw_vehicle_cmd_converter/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
vehicle/steer_offset_estimator/** taiki.tanaka@tier4.jp
vehicle/vehicle_info_util/** shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomoya.kimura@tier4.jp yamato.ando@tier4.jp

refactor(avoidance): separate stop line calculation
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): don't cancel avoidance maneuver if the ego exceed yield stop line
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): finish avoidance when the ego reaches the end of the input
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(behavior_path_planner): disable safety check (#3633)
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(avoidance): update exceed threshold
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(avoidance): update lock offset
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): add validator & check offset between new shift path and ego position
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): add small shift lines at once
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): remove invalid registered shift lines
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(marker_utils): output gradient infomation
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): output rtc status for main shift line
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(avoidance): append end point to extract shift line
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): improve shift line filter for small shift
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix: pointpainting
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/image_projection_based_fusion/config/roi_sync.param.yaml
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Owners: shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp, yusuke.muramatsu@tier4.jp

po
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

po
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

feat(dynamic_avoidance): successive num condition to entry
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(lane_change): copy drivable area info (#3738)
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(dynamic_avoidance): apply LPF to shift length, and positive relative velocity
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(obstacle_cruise_planner): suppress flickering to entry slow down
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

feat(obstacle_cruise_planner): suppress sudden slow down
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

feat(dynamic_avoidance): ignore cut-out vehicle
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(dynamic_avoidance): detect cut in without predicted path
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

chore(motion_planning): disable obstacle stop planner
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

ignore flickering avoidance decision
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(obstacle_avoidance_planner): keep min width
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Owners: takayuki.murooka@tier4.jp

feat(obstacle_cruise_planner): stick to feasible slow down velocity
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

feat(obstacle_cruise_planner): consider relative velocity
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

feat(obstacle_cruise_planner): suppress flickering to entry slow down
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

fix
  planning/obstacle_cruise_planner/src/node.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

feat(obstacle_cruise_planner): suppress sudden slow down
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

ignore lat dist: 10.0 -> 20.0
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

add slow down feature
  common/signal_processing/documentation/ButterworthFilter.md
  common/signal_processing/include/signal_processing/lowpass_filter_1d.hpp
  common/signal_processing/package.xml
  common/signal_processing/src/butterworth.cpp
  common/signal_processing/src/lowpass_filter_1d.cpp
  planning/obstacle_cruise_planner/CMakeLists.txt
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/default_common.param.yaml
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/config/plot_juggler_obstacle_cruise_planner.xml
  planning/obstacle_cruise_planner/docs/debug.md
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/optimization_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_controller.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/type_alias.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/media/collision_point.png
  planning/obstacle_cruise_planner/media/cruise_visualization.png
  planning/obstacle_cruise_planner/media/detection_area.png
  planning/obstacle_cruise_planner/media/determine_cruise_stop_slow_down.drawio.svg
  planning/obstacle_cruise_planner/media/slow_down_planning.drawio.svg
  planning/obstacle_cruise_planner/media/slow_down_velocity_calculation.svg
  planning/obstacle_cruise_planner/media/slow_down_visualization.png
  planning/obstacle_cruise_planner/media/stop_visualization.png
  planning/obstacle_cruise_planner/package.xml
  planning/obstacle_cruise_planner/scripts/trajectory_visualizer.py
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
  planning/obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
Owners: takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

find stuck stop line in generateIntersectionStopLines()
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Owners: none

update image paths
  planning/behavior_velocity_intersection_module/README.md
Owners: none

fixed the error of unwanted stop when vehicle velocity is slow even if over pass judge line
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Owners: none

refactor(behavior_velocity_intersection_module): minor refactoring
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Owners: none

fix
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
Owners: none

feat(pid_longitudinal_controller): add filter to prevent brake lamp switching
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Owners: none

fix: launch arguments
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
Owners: shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp
