Repository tier4/autoware.universe, changes with the owners that .github/CODEOWNERS names for each.
All owners: isamu.takagi@tier4.jp, opensource@apex.ai, satoshi.tanaka@tier4.jp, taiki.tanaka@tier4.jp, jit.ray.c@gmail.com, taichi.higashide@tier4.jp, adam.dabrowski@robotec.ai, kenji.miyake@tier4.jp, maxime.clement@tier4.jp, fumiya.watanabe@tier4.jp, takayuki.murooka@tier4.jp, koji.minoda@tier4.jp, takeshi.ishita@tier4.jp, yukihiro.saito@tier4.jp, christopherj.ho@gmail.com, satoshi.ota@tier4.jp, yutaka.shimizu@tier4.jp, shunsuke.miura@tier4.jp, yusuke.muramatsu@tier4.jp, takamasa.horibe@tier4.jp, tomoya.kimura@tier4.jp, hiroki.ota@tier4.jp, daisuke.nishimatsu@tier4.jp, ambroise.vincent@arm.com, mfc@leodrive.ai, ali.boyali@tier4.jp, berkay@leodrive.ai, kyoichi.sugahara@tier4.jp, dominik.jargot@robotec.ai, ryohsuke.mitsudome@tier4.jp, yamato.ando@tier4.jp, kosuke.takeuchi@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, shumpei.wakabayashi@tier4.jp, tomohito.ando@tier4.jp, zulfaqar.azmi@tier4.jp, keisuke.shima@tier4.jp, fumihito.ito@tier4.jp, kento.yabuuchi.2@tier4.jp, azumi.suzuki@tier4.jp, abrahammonrroy@yahoo.com, dai.nguyen@tier4.jp, kotaro.uetake@tier4.jp, jilada.eccleston@tier4.jp, ryu.yamamoto@tier4.jp, shpark@morai.ai

fix
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

po
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/planning_debug_tools/scripts/perception_reproducer.py
  planning/static_centerline_optimizer/scripts/tmp/cokie.txt
  planning/static_centerline_optimizer/scripts/tmp/lanelet2_map.osm
  planning/static_centerline_optimizer/scripts/tmp/request_load_map.sh
  planning/static_centerline_optimizer/scripts/tmp/request_plan_path.sh
  planning/static_centerline_optimizer/scripts/tmp/request_plan_route.sh
  planning/static_centerline_optimizer/scripts/tmp/run.sh
Owners: takayuki.murooka@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp

add cmos voltage
  launch/tier4_system_launch/config/system_monitor/cpu_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/hdd_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/net_monitor.param.yaml
  launch/tier4_system_launch/config/system_monitor/voltage_monitor.param.yaml
  system/system_monitor/launch/system_monitor.main.launch.py
  system/system_monitor/launch/system_monitor.sub.launch.py
Owners: fumihito.ito@tier4.jp, kenji.miyake@tier4.jp

feat(detection_area): use compare map filtered points
  planning/behavior_velocity_planner/include/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/include/behavior_velocity_planner/planner_data.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Owners: kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp

wip
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/map_area_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/launch/map_area_filter.launch.xml
  sensing/pointcloud_preprocessor/src/outlier_filter/map_area_filter_nodelet.cpp
Owners: abrahammonrroy@yahoo.com, shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp

Refactor filter_points_by_area function to improve performance
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/map_area_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/src/outlier_filter/map_area_filter_nodelet.cpp
Owners: abrahammonrroy@yahoo.com, shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp

add find packages
  simulator/fault_injection/CMakeLists.txt
Owners: keisuke.shima@tier4.jp

pluginlib
  simulator/fault_injection/CMakeLists.txt
  simulator/fault_injection/package.xml
Owners: keisuke.shima@tier4.jp

fix: segmentation fault from uninitialized pointer (#933)
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
Owners: abrahammonrroy@yahoo.com, shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp

disable network traffic reader diag
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
Owners: fumihito.ito@tier4.jp, kenji.miyake@tier4.jp

change the way to publish filtered object msg to synchronize the input object msg frame rate
  sensing/pointcloud_preprocessor/src/outlier_filter/map_area_filter_nodelet.cpp
Owners: abrahammonrroy@yahoo.com, shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp

fix(mpc): reset prev value when mpc failed
  control/trajectory_follower/include/trajectory_follower/mpc.hpp
  control/trajectory_follower/src/mpc.cpp
  control/trajectory_follower/src/mpc_lateral_controller.cpp
Owners: takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp

fix psim obstacle points
  simulator/dummy_perception_publisher/launch/dummy_perception_publisher.launch.xml
Owners: yukihiro.saito@tier4.jp

fix obstacle avoidance planner
  planning/obstacle_avoidance_planner/src/node.cpp
Owners: takayuki.murooka@tier4.jp

chore(behavior_velocity_planner): change pass judge detection order
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Owners: kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp

feat(lanelet2_extension): set frame_locked to false
  map/lanelet2_extension/lib/visualization.cpp
Owners: none

fix double increment of area_i
  sensing/pointcloud_preprocessor/src/outlier_filter/map_area_filter_nodelet.cpp
Owners: abrahammonrroy@yahoo.com, shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp

fix: pre-commit settings (#300)
  .pre-commit-config.yaml
  common/autoware_testing/autoware_testing/smoke_test.py
  common/tier4_debug_tools/package.xml
  common/web_controller/www/web_controller/js/menu.js
  control/external_cmd_selector/launch/external_cmd_selector.launch.py
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.py
  map/map_loader/test/lanelet2_map_loader_launch.test.py
  planning/obstacle_cruise_planner/scripts/trajectory_visualizer.py
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
  system/system_monitor/launch/system_monitor.launch.py
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/calc_utils.py
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/new_accel_brake_map_server.py
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/plotter.py
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/view_plot.py
  vehicle/external_cmd_converter/launch/external_cmd_converter.launch.py
Owners: adam.dabrowski@robotec.ai, kenji.miyake@tier4.jp, yukihiro.saito@tier4.jp, shunsuke.miura@tier4.jp, fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp, ryohsuke.mitsudome@tier4.jp, fumihito.ito@tier4.jp

po
  simulator/dummy_perception_publisher/CMakeLists.txt
  simulator/dummy_perception_publisher/include/dummy_perception_publisher/random_objects_publisher.hpp
  simulator/dummy_perception_publisher/package.xml
  simulator/dummy_perception_publisher/src/random_objects_publisher.cpp
Owners: yukihiro.saito@tier4.jp

po
  simulator/dummy_perception_publisher/CMakeLists.txt
  simulator/dummy_perception_publisher/include/dummy_perception_publisher/random_objects_publisher.hpp
  simulator/dummy_perception_publisher/package.xml
  simulator/dummy_perception_publisher/src/random_objects_publisher.cpp
Owners: yukihiro.saito@tier4.jp

return non-empty predicted path
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Owners: yutaka.shimizu@tier4.jp

Revert "return non-empty predicted path"
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Owners: yutaka.shimizu@tier4.jp

bag fix by muramatsu 0316
  launch/tier4_planning_launch/config/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(obstacle_avoidance_planner): deal with wider path interval (#1616)
  planning/obstacle_avoidance_planner/src/node.cpp
Owners: takayuki.murooka@tier4.jp

feat(obstacle_avoidance_planner): replace yaw with spline completion
  planning/obstacle_avoidance_planner/src/node.cpp
Owners: takayuki.murooka@tier4.jp

fix: comment out -march=native
  planning/obstacle_avoidance_planner/CMakeLists.txt
Owners: takayuki.murooka@tier4.jp

feat(behavior_path_planner): lane change abort
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/external_request_lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat: add ndt sampling search function for tunnel
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/sampling_search.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

feat(behavior_path_planner): handle lane change buffer in abort
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix ego pose subscribe
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
Owners: satoshi.ota@tier4.jp

feat(obstacle_avoidance_planner): deal with infeasible drivable area
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Owners: takayuki.murooka@tier4.jp

fix
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Owners: satoshi.ota@tier4.jp, taiki.tanaka@tier4.jp, takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

use new architecture
  planning/behavior_path_planner/CMakeLists.txt
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(motion_utils): insertTargetPoint with negative length
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/test/src/trajectory/test_trajectory.cpp
Owners: satoshi.ota@tier4.jp, taiki.tanaka@tier4.jp, takayuki.murooka@tier4.jp, yutaka.shimizu@tier4.jp

fix typo
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Owners: takayuki.murooka@tier4.jp

parametrize min_drivable_width
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Owners: takayuki.murooka@tier4.jp

po
  planning/obstacle_avoidance_planner/src/node.cpp
Owners: takayuki.murooka@tier4.jp

fix
  planning/obstacle_stop_planner/src/node.cpp
Owners: satoshi.ota@tier4.jp

chore(rtc_interface): add avoidance by lc
  planning/rtc_interface/src/rtc_interface.cpp
Owners: fumiya.watanabe@tier4.jp

.github/CODEOWNERS:

### Copied from .github/CODEOWNERS-manual ###

### Automatically generated from package.xml ###
common/autoware_ad_api_specs/** isamu.takagi@tier4.jp
common/autoware_auto_common/** opensource@apex.ai
common/autoware_auto_geometry/** opensource@apex.ai
common/autoware_auto_perception_rviz_plugin/** opensource@apex.ai satoshi.tanaka@tier4.jp taiki.tanaka@tier4.jp
common/autoware_auto_tf2/** jit.ray.c@gmail.com
common/autoware_point_types/** taichi.higashide@tier4.jp
common/autoware_testing/** adam.dabrowski@robotec.ai
common/bag_time_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/component_interface_specs/** isamu.takagi@tier4.jp
common/component_interface_utils/** isamu.takagi@tier4.jp
common/fake_test_node/** opensource@apex.ai
common/global_parameter_loader/** kenji.miyake@tier4.jp
common/goal_distance_calculator/** taiki.tanaka@tier4.jp
common/grid_map_utils/** maxime.clement@tier4.jp
common/interpolation/** fumiya.watanabe@tier4.jp takayuki.murooka@tier4.jp
common/kalman_filter/** koji.minoda@tier4.jp takeshi.ishita@tier4.jp yukihiro.saito@tier4.jp
common/motion_common/** christopherj.ho@gmail.com
common/motion_testing/** christopherj.ho@gmail.com
common/motion_utils/** satoshi.ota@tier4.jp taiki.tanaka@tier4.jp takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
common/osqp_interface/** fumiya.watanabe@tier4.jp maxime.clement@tier4.jp satoshi.ota@tier4.jp takayuki.murooka@tier4.jp
common/path_distance_calculator/** isamu.takagi@tier4.jp
common/perception_utils/** satoshi.tanaka@tier4.jp shunsuke.miura@tier4.jp takayuki.murooka@tier4.jp yusuke.muramatsu@tier4.jp
common/polar_grid/** yukihiro.saito@tier4.jp
common/rtc_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/signal_processing/** takayuki.murooka@tier4.jp
common/tier4_api_utils/** isamu.takagi@tier4.jp
common/tier4_autoware_utils/** kenji.miyake@tier4.jp takamasa.horibe@tier4.jp
common/tier4_calibration_rviz_plugin/** tomoya.kimura@tier4.jp
common/tier4_control_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_datetime_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_debug_rviz_plugin/** takayuki.murooka@tier4.jp
common/tier4_debug_tools/** kenji.miyake@tier4.jp
common/tier4_localization_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_perception_rviz_plugin/** yukihiro.saito@tier4.jp
common/tier4_planning_rviz_plugin/** takayuki.murooka@tier4.jp yukihiro.saito@tier4.jp
common/tier4_screen_capture_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_simulated_clock_rviz_plugin/** maxime.clement@tier4.jp
common/tier4_state_rviz_plugin/** hiroki.ota@tier4.jp
common/tier4_traffic_light_rviz_plugin/** satoshi.ota@tier4.jp
common/tier4_vehicle_rviz_plugin/** yukihiro.saito@tier4.jp
common/time_utils/** christopherj.ho@gmail.com
common/trtexec_vendor/** daisuke.nishimatsu@tier4.jp
common/tvm_utility/** ambroise.vincent@arm.com
common/vehicle_constants_manager/** mfc@leodrive.ai
common/web_controller/** yukihiro.saito@tier4.jp
control/control_performance_analysis/** ali.boyali@tier4.jp berkay@leodrive.ai
control/external_cmd_selector/** kenji.miyake@tier4.jp
control/joy_controller/** kenji.miyake@tier4.jp
control/lane_departure_checker/** kyoichi.sugahara@tier4.jp
control/obstacle_collision_checker/** kenji.miyake@tier4.jp
control/operation_mode_transition_manager/** takamasa.horibe@tier4.jp
control/pure_pursuit/** takamasa.horibe@tier4.jp
control/shift_decider/** takamasa.horibe@tier4.jp
control/trajectory_follower/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/trajectory_follower_nodes/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/vehicle_cmd_gate/** takamasa.horibe@tier4.jp
evaluator/kinematic_evaluator/** dominik.jargot@robotec.ai
evaluator/localization_evaluator/** dominik.jargot@robotec.ai
launch/tier4_autoware_api_launch/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp
launch/tier4_control_launch/** takamasa.horibe@tier4.jp
launch/tier4_localization_launch/** yamato.ando@tier4.jp
launch/tier4_map_launch/** ryohsuke.mitsudome@tier4.jp
launch/tier4_perception_launch/** shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
launch/tier4_planning_launch/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
launch/tier4_sensing_launch/** yukihiro.saito@tier4.jp
launch/tier4_simulator_launch/** keisuke.shima@tier4.jp
launch/tier4_system_launch/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
launch/tier4_vehicle_launch/** yukihiro.saito@tier4.jp
localization/ekf_localizer/** koji.minoda@tier4.jp takamasa.horibe@tier4.jp takeshi.ishita@tier4.jp yamato.ando@tier4.jp
localization/gyro_odometer/** yamato.ando@tier4.jp
localization/initial_pose_button_panel/** yamato.ando@tier4.jp
localization/localization_error_monitor/** yamato.ando@tier4.jp
localization/ndt_scan_matcher/** kento.yabuuchi.2@tier4.jp koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/pose2twist/** yamato.ando@tier4.jp
localization/pose_initializer/** isamu.takagi@tier4.jp yamato.ando@tier4.jp
localization/stop_filter/** koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/twist2accel/** koji.minoda@tier4.jp yamato.ando@tier4.jp
map/map_loader/** kenji.miyake@tier4.jp ryohsuke.mitsudome@tier4.jp
map/map_tf_generator/** azumi.suzuki@tier4.jp
map/util/lanelet2_map_preprocessor/** ryohsuke.mitsudome@tier4.jp
perception/compare_map_segmentation/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/crosswalk_traffic_light_estimator/** satoshi.ota@tier4.jp
perception/detected_object_feature_remover/** tomoya.kimura@tier4.jp
perception/detected_object_validation/** yukihiro.saito@tier4.jp
perception/detection_by_tracker/** yukihiro.saito@tier4.jp
perception/elevation_map_loader/** kosuke.takeuchi@tier4.jp taichi.higashide@tier4.jp
perception/euclidean_cluster/** yukihiro.saito@tier4.jp
perception/front_vehicle_velocity_estimator/** satoshi.tanaka@tier4.jp
perception/ground_segmentation/** abrahammonrroy@yahoo.com dai.nguyen@tier4.jp shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
perception/heatmap_visualizer/** kotaro.uetake@tier4.jp
perception/image_projection_based_fusion/** yukihiro.saito@tier4.jp yusuke.muramatsu@tier4.jp
perception/lidar_apollo_instance_segmentation/** yukihiro.saito@tier4.jp
perception/lidar_apollo_segmentation_tvm/** ambroise.vincent@arm.com
perception/lidar_apollo_segmentation_tvm_nodes/** ambroise.vincent@arm.com
perception/lidar_centerpoint/** yusuke.muramatsu@tier4.jp
perception/map_based_prediction/** yutaka.shimizu@tier4.jp
perception/multi_object_tracker/** jilada.eccleston@tier4.jp yukihiro.saito@tier4.jp
perception/object_merger/** yukihiro.saito@tier4.jp
perception/object_range_splitter/** yukihiro.saito@tier4.jp
perception/occupancy_grid_map_outlier_filter/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/probabilistic_occupancy_grid_map/** yukihiro.saito@tier4.jp
perception/radar_fusion_to_detected_object/** satoshi.tanaka@tier4.jp
perception/radar_tracks_msgs_converter/** satoshi.tanaka@tier4.jp
perception/shape_estimation/** yukihiro.saito@tier4.jp
perception/tensorrt_yolo/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_classifier/** yukihiro.saito@tier4.jp
perception/traffic_light_map_based_detector/** yukihiro.saito@tier4.jp
perception/traffic_light_ssd_fine_detector/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_visualization/** yukihiro.saito@tier4.jp
planning/behavior_path_planner/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
planning/behavior_velocity_planner/** kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp
planning/costmap_generator/** kenji.miyake@tier4.jp
planning/external_velocity_limit_selector/** satoshi.ota@tier4.jp
planning/freespace_planner/** takamasa.horibe@tier4.jp
planning/freespace_planning_algorithms/** takamasa.horibe@tier4.jp
planning/mission_planner/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
planning/motion_velocity_smoother/** fumiya.watanabe@tier4.jp
planning/obstacle_avoidance_planner/** takayuki.murooka@tier4.jp
planning/obstacle_cruise_planner/** takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
planning/obstacle_stop_planner/** satoshi.ota@tier4.jp
planning/planning_debug_tools/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
planning/planning_error_monitor/** yutaka.shimizu@tier4.jp
planning/planning_evaluator/** maxime.clement@tier4.jp
planning/route_handler/** fumiya.watanabe@tier4.jp
planning/rtc_auto_mode_manager/** fumiya.watanabe@tier4.jp
planning/rtc_interface/** fumiya.watanabe@tier4.jp
planning/rtc_replayer/** fumiya.watanabe@tier4.jp taiki.tanaka@tier4.jp
planning/scenario_selector/** kenji.miyake@tier4.jp
planning/surround_obstacle_checker/** satoshi.ota@tier4.jp
sensing/geo_pos_conv/** yamato.ando@tier4.jp
sensing/gnss_poser/** yamato.ando@tier4.jp
sensing/image_diagnostics/** dai.nguyen@tier4.jp
sensing/image_transport_decompressor/** yukihiro.saito@tier4.jp
sensing/imu_corrector/** yamato.ando@tier4.jp
sensing/livox/livox_tag_filter/** kenji.miyake@tier4.jp
sensing/pointcloud_preprocessor/** abrahammonrroy@yahoo.com shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
sensing/tier4_pcl_extensions/** ryu.yamamoto@tier4.jp
sensing/vehicle_velocity_converter/** ryu.yamamoto@tier4.jp
simulator/dummy_perception_publisher/** yukihiro.saito@tier4.jp
simulator/fault_injection/** keisuke.shima@tier4.jp
simulator/simple_planning_simulator/** takamasa.horibe@tier4.jp
system/ad_service_state_monitor/** kenji.miyake@tier4.jp
system/bluetooth_monitor/** fumihito.ito@tier4.jp
system/component_state_monitor/** isamu.takagi@tier4.jp
system/default_ad_api/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/ad_api_adaptors/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/automatic_pose_initializer/** isamu.takagi@tier4.jp
system/dummy_diag_publisher/** kenji.miyake@tier4.jp
system/dummy_infrastructure/** kenji.miyake@tier4.jp
system/emergency_handler/** kenji.miyake@tier4.jp
system/system_error_monitor/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
system/system_monitor/** fumihito.ito@tier4.jp
system/topic_state_monitor/** kenji.miyake@tier4.jp
system/velodyne_monitor/** fumihito.ito@tier4.jp
tools/simulator_test/simulator_compatibility_test/** shpark@morai.ai
vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/** tomoya.kimura@tier4.jp
vehicle/external_cmd_converter/** takamasa.horibe@tier4.jp
vehicle/raw_vehicle_cmd_converter/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
vehicle/steer_offset_estimator/** taiki.tanaka@tier4.jp
vehicle/vehicle_info_util/** shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomoya.kimura@tier4.jp yamato.ando@tier4.jp
