Repository tier4/autoware.universe, changes with the owners that .github/CODEOWNERS names for each.
All owners: isamu.takagi@tier4.jp, opensource@apex.ai, satoshi.tanaka@tier4.jp, taiki.tanaka@tier4.jp, jit.ray.c@gmail.com, taichi.higashide@tier4.jp, adam.dabrowski@robotec.ai, kenji.miyake@tier4.jp, maxime.clement@tier4.jp, fumiya.watanabe@tier4.jp, takayuki.murooka@tier4.jp, koji.minoda@tier4.jp, takeshi.ishita@tier4.jp, yukihiro.saito@tier4.jp, christopherj.ho@gmail.com, satoshi.ota@tier4.jp, yutaka.shimizu@tier4.jp, shunsuke.miura@tier4.jp, yusuke.muramatsu@tier4.jp, takamasa.horibe@tier4.jp, tomoya.kimura@tier4.jp, hiroki.ota@tier4.jp, daisuke.nishimatsu@tier4.jp, ambroise.vincent@arm.com, mfc@leodrive.ai, ali.boyali@tier4.jp, berkay@leodrive.ai, kyoichi.sugahara@tier4.jp, dominik.jargot@robotec.ai, ryohsuke.mitsudome@tier4.jp, yamato.ando@tier4.jp, kosuke.takeuchi@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, shumpei.wakabayashi@tier4.jp, tomohito.ando@tier4.jp, zulfaqar.azmi@tier4.jp, keisuke.shima@tier4.jp, fumihito.ito@tier4.jp, kento.yabuuchi.2@tier4.jp, azumi.suzuki@tier4.jp, abrahammonrroy@yahoo.com, dai.nguyen@tier4.jp, kotaro.uetake@tier4.jp, jilada.eccleston@tier4.jp, ryu.yamamoto@tier4.jp, shpark@morai.ai

feat(jari_rosbag_replayer): publish start and goal
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

chore(jari_rosbag_replayer): format
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): add python scripts for integration sim (uncomplete)
  jari_rosbag_replayer/README.md
  jari_rosbag_replayer/jari_cutin_analyzer.py
  jari_rosbag_replayer/jari_rosbag_replayer.py
  jari_rosbag_replayer/jari_rosbag_replayer/__init__.py
  jari_rosbag_replayer/package.xml
  jari_rosbag_replayer/setup.cfg
  jari_rosbag_replayer/setup.py
Owners: none

feat(jari_rosbag_replayer): send goal pose
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): load start line from config
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): load vehicle uuid from config
  jari_rosbag_replayer/jari_cutin_analyzer.py
Owners: none

feat(jari_rosbag_replayer): integrate rosbag recording
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): integrate cuitin analyzer
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

refactor(jari_rosbag_replayer)
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

refactor(jari_rosbag_replayer)
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

refactor(jari_rosbag_replayer)
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

refactor(jari_rosbag_replayer)
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

refactor(jari_rosbag_replayer): delete jari_cutin_analyzer.py
  jari_rosbag_replayer/jari_cutin_analyzer.py
Owners: none

refactor(jari_rosbag_replayer): modify analyze trigger
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

fix(jari_rosbag_replayer): fix stamp position for AckermannCommand message
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

fix(jari_rosbag_replayer): fix topic filter for rosbag
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): integration simulation worked.
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

chore(jari_rosbag_replayer): small modification
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

tmp: add behavir path marker
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

small modification in launch files for JARI integration sim (but it does not work well)
  launch/tier4_perception_launch/launch/object_recognition/prediction/prediction.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Owners: shunsuke.miura@tier4.jp, yukihiro.saito@tier4.jp, keisuke.shima@tier4.jp

refactorjari_rosbag_replayer): refactor import
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): add AutowareOperator class
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): set velocity limit
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): use log analyzer
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): arrange startup sequence
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

feat(jari_rosbag_replayer): add compare_result.py
  jari_rosbag_replayer/compare_result.py
Owners: none

feat: add vcu_planning_simulation
  launch/tier4_simulator_launch/launch/simulator_with_vcu_simulation.launch copy.xml
  launch/tier4_simulator_launch/package.xml
  simulator/vcu_planning_simulator/CMakeLists.txt
  simulator/vcu_planning_simulator/config/simulator_model.param.yaml
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model_delay_steer_vel.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model_ideal_steer_vel.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vehicle_model/sim_model_interface.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/visibility_control.hpp
  simulator/vcu_planning_simulator/launch/vcu_planning_simulator.launch.py
  simulator/vcu_planning_simulator/package.xml
  simulator/vcu_planning_simulator/param/vcu_planning_simulator_default.param.yaml
  simulator/vcu_planning_simulator/param/vehicle_characteristics.param.yaml
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vehicle_model/sim_model_delay_steer_vel.cpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vehicle_model/sim_model_ideal_steer_vel.cpp
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vehicle_model/sim_model_interface.cpp
  simulator/vcu_planning_simulator/test/test_vcu_planning_simulator.cpp
Owners: keisuke.shima@tier4.jp

feat: add had_map_bin.hpp
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
Owners: none

fix: add using hadmapbin
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
Owners: none

feat: restore to origin vcu_planning_simulator
  simulator/vcu_planning_simulator/include/vcu_planning_simulator/vcu_planning_simulator_core.hpp
  simulator/vcu_planning_simulator/launch/vcu_planning_simulator.launch.py
  simulator/vcu_planning_simulator/src/vcu_planning_simulator/vcu_planning_simulator_core.cpp
Owners: none

feat: fix derectory name
  launch/tier4_simulator_launch/launch/simulator_with_vcu_simulation.launch.xml
Owners: keisuke.shima@tier4.jp

feat(ndt_scan_matcher): add diag lidar_topic_delay_time_sec (#4815)
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

docs(ndt_scan_matcher): update readme (#5074)
  localization/ndt_scan_matcher/README.md
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

feat(ndt_scan_matcher): add initial_to_result_relative_pose (#5319)
  localization/ndt_scan_matcher/README.md
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

fix(ndt_scan_matcher): skipping_publish_num does not switches error state (#4853)
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

refactor(ndt_scan_matcher): rename `align_using_monte_carlo` , etc. (#5351)
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

fix(ndt_scan_matcher): pose_array_interpolator (#5053)
  localization/ndt_scan_matcher/src/pose_array_interpolator.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

refactor(ndt_scan_matcher): fixed as pointed out by clang-tidy (#4286)
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/pose_array_interpolator.hpp
  localization/ndt_scan_matcher/src/debug.cpp
  localization/ndt_scan_matcher/src/map_module.cpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/pose_array_interpolator.cpp
  localization/ndt_scan_matcher/src/util_func.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

feat(ndt_scan_matcher): Adding state switch mecahism for nearest_voxel_transformation_likelihood: For deciding does NDT have problems while matching scans (#4854)
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

feat(ndt_scan_matcher): added logging initial pose (#5045)
  localization/ndt_scan_matcher/include/ndt_scan_matcher/util_func.hpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/ndt_scan_matcher/src/util_func.cpp
Owners: kento.yabuuchi.2@tier4.jp, koji.minoda@tier4.jp, yamato.ando@tier4.jp

.github/CODEOWNERS:

### Copied from .github/CODEOWNERS-manual ###

### Automatically generated from package.xml ###
common/autoware_ad_api_specs/** isamu.takagi@tier4.jp
common/autoware_auto_common/** opensource@apex.ai
common/autoware_auto_geometry/** opensource@apex.ai
common/autoware_auto_perception_rviz_plugin/** opensource@apex.ai satoshi.tanaka@tier4.jp taiki.tanaka@tier4.jp
common/autoware_auto_tf2/** jit.ray.c@gmail.com
common/autoware_point_types/** taichi.higashide@tier4.jp
common/autoware_testing/** adam.dabrowski@robotec.ai
common/bag_time_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/component_interface_specs/** isamu.takagi@tier4.jp
common/component_interface_utils/** isamu.takagi@tier4.jp
common/fake_test_node/** opensource@apex.ai
common/global_parameter_loader/** kenji.miyake@tier4.jp
common/goal_distance_calculator/** taiki.tanaka@tier4.jp
common/grid_map_utils/** maxime.clement@tier4.jp
common/interpolation/** fumiya.watanabe@tier4.jp takayuki.murooka@tier4.jp
common/kalman_filter/** koji.minoda@tier4.jp takeshi.ishita@tier4.jp yukihiro.saito@tier4.jp
common/motion_common/** christopherj.ho@gmail.com
common/motion_testing/** christopherj.ho@gmail.com
common/motion_utils/** satoshi.ota@tier4.jp taiki.tanaka@tier4.jp takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
common/osqp_interface/** fumiya.watanabe@tier4.jp maxime.clement@tier4.jp satoshi.ota@tier4.jp takayuki.murooka@tier4.jp
common/path_distance_calculator/** isamu.takagi@tier4.jp
common/perception_utils/** satoshi.tanaka@tier4.jp shunsuke.miura@tier4.jp takayuki.murooka@tier4.jp yusuke.muramatsu@tier4.jp
common/polar_grid/** yukihiro.saito@tier4.jp
common/rtc_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/signal_processing/** takayuki.murooka@tier4.jp
common/tier4_api_utils/** isamu.takagi@tier4.jp
common/tier4_autoware_utils/** kenji.miyake@tier4.jp takamasa.horibe@tier4.jp
common/tier4_calibration_rviz_plugin/** tomoya.kimura@tier4.jp
common/tier4_control_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_datetime_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_debug_rviz_plugin/** takayuki.murooka@tier4.jp
common/tier4_debug_tools/** kenji.miyake@tier4.jp
common/tier4_localization_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_perception_rviz_plugin/** yukihiro.saito@tier4.jp
common/tier4_planning_rviz_plugin/** takayuki.murooka@tier4.jp yukihiro.saito@tier4.jp
common/tier4_screen_capture_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_simulated_clock_rviz_plugin/** maxime.clement@tier4.jp
common/tier4_state_rviz_plugin/** hiroki.ota@tier4.jp
common/tier4_traffic_light_rviz_plugin/** satoshi.ota@tier4.jp
common/tier4_vehicle_rviz_plugin/** yukihiro.saito@tier4.jp
common/time_utils/** christopherj.ho@gmail.com
common/trtexec_vendor/** daisuke.nishimatsu@tier4.jp
common/tvm_utility/** ambroise.vincent@arm.com
common/vehicle_constants_manager/** mfc@leodrive.ai
common/web_controller/** yukihiro.saito@tier4.jp
control/control_performance_analysis/** ali.boyali@tier4.jp berkay@leodrive.ai
control/external_cmd_selector/** kenji.miyake@tier4.jp
control/joy_controller/** kenji.miyake@tier4.jp
control/lane_departure_checker/** kyoichi.sugahara@tier4.jp
control/obstacle_collision_checker/** kenji.miyake@tier4.jp
control/operation_mode_transition_manager/** takamasa.horibe@tier4.jp
control/pure_pursuit/** takamasa.horibe@tier4.jp
control/shift_decider/** takamasa.horibe@tier4.jp
control/trajectory_follower/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/trajectory_follower_nodes/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/vehicle_cmd_gate/** takamasa.horibe@tier4.jp
evaluator/kinematic_evaluator/** dominik.jargot@robotec.ai
evaluator/localization_evaluator/** dominik.jargot@robotec.ai
launch/tier4_autoware_api_launch/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp
launch/tier4_control_launch/** takamasa.horibe@tier4.jp
launch/tier4_localization_launch/** yamato.ando@tier4.jp
launch/tier4_map_launch/** ryohsuke.mitsudome@tier4.jp
launch/tier4_perception_launch/** shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
launch/tier4_planning_launch/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
launch/tier4_sensing_launch/** yukihiro.saito@tier4.jp
launch/tier4_simulator_launch/** keisuke.shima@tier4.jp
launch/tier4_system_launch/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
launch/tier4_vehicle_launch/** yukihiro.saito@tier4.jp
localization/ekf_localizer/** koji.minoda@tier4.jp takamasa.horibe@tier4.jp takeshi.ishita@tier4.jp yamato.ando@tier4.jp
localization/gyro_odometer/** yamato.ando@tier4.jp
localization/initial_pose_button_panel/** yamato.ando@tier4.jp
localization/localization_error_monitor/** yamato.ando@tier4.jp
localization/ndt_scan_matcher/** kento.yabuuchi.2@tier4.jp koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/pose2twist/** yamato.ando@tier4.jp
localization/pose_initializer/** isamu.takagi@tier4.jp yamato.ando@tier4.jp
localization/stop_filter/** koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/twist2accel/** koji.minoda@tier4.jp yamato.ando@tier4.jp
map/map_loader/** kenji.miyake@tier4.jp ryohsuke.mitsudome@tier4.jp
map/map_tf_generator/** azumi.suzuki@tier4.jp
map/util/lanelet2_map_preprocessor/** ryohsuke.mitsudome@tier4.jp
perception/compare_map_segmentation/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/crosswalk_traffic_light_estimator/** satoshi.ota@tier4.jp
perception/detected_object_feature_remover/** tomoya.kimura@tier4.jp
perception/detected_object_validation/** yukihiro.saito@tier4.jp
perception/detection_by_tracker/** yukihiro.saito@tier4.jp
perception/elevation_map_loader/** kosuke.takeuchi@tier4.jp taichi.higashide@tier4.jp
perception/euclidean_cluster/** yukihiro.saito@tier4.jp
perception/front_vehicle_velocity_estimator/** satoshi.tanaka@tier4.jp
perception/ground_segmentation/** abrahammonrroy@yahoo.com dai.nguyen@tier4.jp shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
perception/heatmap_visualizer/** kotaro.uetake@tier4.jp
perception/image_projection_based_fusion/** yukihiro.saito@tier4.jp yusuke.muramatsu@tier4.jp
perception/lidar_apollo_instance_segmentation/** yukihiro.saito@tier4.jp
perception/lidar_apollo_segmentation_tvm/** ambroise.vincent@arm.com
perception/lidar_apollo_segmentation_tvm_nodes/** ambroise.vincent@arm.com
perception/lidar_centerpoint/** yusuke.muramatsu@tier4.jp
perception/map_based_prediction/** yutaka.shimizu@tier4.jp
perception/multi_object_tracker/** jilada.eccleston@tier4.jp yukihiro.saito@tier4.jp
perception/object_merger/** yukihiro.saito@tier4.jp
perception/object_range_splitter/** yukihiro.saito@tier4.jp
perception/occupancy_grid_map_outlier_filter/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/probabilistic_occupancy_grid_map/** yukihiro.saito@tier4.jp
perception/radar_fusion_to_detected_object/** satoshi.tanaka@tier4.jp
perception/radar_tracks_msgs_converter/** satoshi.tanaka@tier4.jp
perception/shape_estimation/** yukihiro.saito@tier4.jp
perception/tensorrt_yolo/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_classifier/** yukihiro.saito@tier4.jp
perception/traffic_light_map_based_detector/** yukihiro.saito@tier4.jp
perception/traffic_light_ssd_fine_detector/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_visualization/** yukihiro.saito@tier4.jp
planning/behavior_path_planner/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
planning/behavior_velocity_planner/** kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp
planning/costmap_generator/** kenji.miyake@tier4.jp
planning/external_velocity_limit_selector/** satoshi.ota@tier4.jp
planning/freespace_planner/** takamasa.horibe@tier4.jp
planning/freespace_planning_algorithms/** takamasa.horibe@tier4.jp
planning/mission_planner/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
planning/motion_velocity_smoother/** fumiya.watanabe@tier4.jp
planning/obstacle_avoidance_planner/** takayuki.murooka@tier4.jp
planning/obstacle_cruise_planner/** takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
planning/obstacle_stop_planner/** satoshi.ota@tier4.jp
planning/planning_debug_tools/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
planning/planning_error_monitor/** yutaka.shimizu@tier4.jp
planning/planning_evaluator/** maxime.clement@tier4.jp
planning/route_handler/** fumiya.watanabe@tier4.jp
planning/rtc_auto_mode_manager/** fumiya.watanabe@tier4.jp
planning/rtc_interface/** fumiya.watanabe@tier4.jp
planning/rtc_replayer/** fumiya.watanabe@tier4.jp taiki.tanaka@tier4.jp
planning/scenario_selector/** kenji.miyake@tier4.jp
planning/surround_obstacle_checker/** satoshi.ota@tier4.jp
sensing/geo_pos_conv/** yamato.ando@tier4.jp
sensing/gnss_poser/** yamato.ando@tier4.jp
sensing/image_diagnostics/** dai.nguyen@tier4.jp
sensing/image_transport_decompressor/** yukihiro.saito@tier4.jp
sensing/imu_corrector/** yamato.ando@tier4.jp
sensing/livox/livox_tag_filter/** kenji.miyake@tier4.jp
sensing/pointcloud_preprocessor/** abrahammonrroy@yahoo.com shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
sensing/tier4_pcl_extensions/** ryu.yamamoto@tier4.jp
sensing/vehicle_velocity_converter/** ryu.yamamoto@tier4.jp
simulator/dummy_perception_publisher/** yukihiro.saito@tier4.jp
simulator/fault_injection/** keisuke.shima@tier4.jp
simulator/simple_planning_simulator/** takamasa.horibe@tier4.jp
system/ad_service_state_monitor/** kenji.miyake@tier4.jp
system/bluetooth_monitor/** fumihito.ito@tier4.jp
system/component_state_monitor/** isamu.takagi@tier4.jp
system/default_ad_api/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/ad_api_adaptors/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/automatic_pose_initializer/** isamu.takagi@tier4.jp
system/dummy_diag_publisher/** kenji.miyake@tier4.jp
system/dummy_infrastructure/** kenji.miyake@tier4.jp
system/emergency_handler/** kenji.miyake@tier4.jp
system/system_error_monitor/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
system/system_monitor/** fumihito.ito@tier4.jp
system/topic_state_monitor/** kenji.miyake@tier4.jp
system/velodyne_monitor/** fumihito.ito@tier4.jp
tools/simulator_test/simulator_compatibility_test/** shpark@morai.ai
vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/** tomoya.kimura@tier4.jp
vehicle/external_cmd_converter/** takamasa.horibe@tier4.jp
vehicle/raw_vehicle_cmd_converter/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
vehicle/steer_offset_estimator/** taiki.tanaka@tier4.jp
vehicle/vehicle_info_util/** shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomoya.kimura@tier4.jp yamato.ando@tier4.jp
