Repository tier4/autoware.universe, changes with the owners that .github/CODEOWNERS names for each.
All owners: isamu.takagi@tier4.jp, opensource@apex.ai, satoshi.tanaka@tier4.jp, taiki.tanaka@tier4.jp, jit.ray.c@gmail.com, taichi.higashide@tier4.jp, adam.dabrowski@robotec.ai, kenji.miyake@tier4.jp, maxime.clement@tier4.jp, fumiya.watanabe@tier4.jp, takayuki.murooka@tier4.jp, koji.minoda@tier4.jp, takeshi.ishita@tier4.jp, yukihiro.saito@tier4.jp, christopherj.ho@gmail.com, satoshi.ota@tier4.jp, yutaka.shimizu@tier4.jp, shunsuke.miura@tier4.jp, yusuke.muramatsu@tier4.jp, takamasa.horibe@tier4.jp, tomoya.kimura@tier4.jp, hiroki.ota@tier4.jp, daisuke.nishimatsu@tier4.jp, ambroise.vincent@arm.com, mfc@leodrive.ai, ali.boyali@tier4.jp, berkay@leodrive.ai, kyoichi.sugahara@tier4.jp, dominik.jargot@robotec.ai, ryohsuke.mitsudome@tier4.jp, yamato.ando@tier4.jp, kosuke.takeuchi@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, shumpei.wakabayashi@tier4.jp, tomohito.ando@tier4.jp, zulfaqar.azmi@tier4.jp, keisuke.shima@tier4.jp, fumihito.ito@tier4.jp, kento.yabuuchi.2@tier4.jp, azumi.suzuki@tier4.jp, abrahammonrroy@yahoo.com, dai.nguyen@tier4.jp, kotaro.uetake@tier4.jp, jilada.eccleston@tier4.jp, ryu.yamamoto@tier4.jp, shpark@morai.ai

fix: use new msgs to use new utility function
  planning/route_handler/src/route_handler.cpp
Owners: fumiya.watanabe@tier4.jp

fix: ignore errors from warnings
  planning/route_handler/include/route_handler/route_handler.hpp
Owners: fumiya.watanabe@tier4.jp

fix: ignore errors from warnings
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  planning/mission_planner/src/mission_planner_lanelet2/utility_functions.cpp
Owners: kyoichi.sugahara@tier4.jp, isamu.takagi@tier4.jp, ryohsuke.mitsudome@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp

feat(behavior_velocity_run_out): ignore momentary detection caused by false positive (#5359)
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Owners: none

fix(utils): fix invalid insertion
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(utils): fix bug in drivable area expansion (#5198)
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(utils): guard invalid access
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(utils): remove sharp angle bound
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(utils): add flag check in drivable bound generation (#5109)
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(intersection): fix misuse of original path index to interpolated path (#5334)
  planning/behavior_velocity_intersection_module/src/util.cpp
Owners: none

feat(intersection): check path margin for overshoot vehicles on red light (#5394)
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Owners: none

fix(avoidance): calculate road shoulder distance for prev and next lanelet
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(intersection): yield stuck stop (#5403)
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Owners: none

fix(lane_change): fix terminal stop distance (#5392)
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix(behavior_path_planner): add guard to extend lane
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

feat(avoidance): add use_conservative_buffer_longitudinal
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix missing charcter, and remove some debug codes
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp

fix spell
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

add explicit include
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
Owners: none

clean up the debug msg
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

add new param, move the params' name space
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Owners: none

Update planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

set up RCLCPP_DEBUG print
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

Update planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

Update planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
Owners: none

fix spell
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Owners: none

complete the impementation and seems to works well
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

fix spelling
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

set up the required parameters
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Owners: none

reconstruct the decision logic
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Owners: none

first implemantation
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Owners: kosuke.takeuchi@tier4.jp, kyoichi.sugahara@tier4.jp, makoto.kurihara@tier4.jp, mamoru.sobue@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, tomohito.ando@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp

Update planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
Owners: none

Revert "fix(behavior_path_planner): add guard to extend lane"
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

Revert "fix(lane_change): fix terminal stop distance (#5392)"
  planning/behavior_path_planner/src/utils/utils.cpp
Owners: fumiya.watanabe@tier4.jp, kosuke.takeuchi@tier4.jp, satoshi.ota@tier4.jp, shumpei.wakabayashi@tier4.jp, taiki.tanaka@tier4.jp, takamasa.horibe@tier4.jp, takayuki.murooka@tier4.jp, tomoya.kimura@tier4.jp, yutaka.shimizu@tier4.jp, zulfaqar.azmi@tier4.jp

Revert "fix(intersection): yield stuck stop (#5403)"
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Owners: none

Revert "feat(intersection): check path margin for overshoot vehicles on red light (#5394)"
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Owners: none

Revert "fix(intersection): fix misuse of original path index to interpolated path (#5334)"
  planning/behavior_velocity_intersection_module/src/util.cpp
Owners: none

feat(map_loader): display curbstone as marker array (#4958)
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Owners: kenji.miyake@tier4.jp, ryohsuke.mitsudome@tier4.jp

chore(jari_rosbag_replayer): ignore config.json
  .gitignore
Owners: none

feat(jari_rosbag_replayer): load params from outside
  jari_rosbag_replayer/jari_rosbag_replayer.py
Owners: none

.github/CODEOWNERS:

### Copied from .github/CODEOWNERS-manual ###

### Automatically generated from package.xml ###
common/autoware_ad_api_specs/** isamu.takagi@tier4.jp
common/autoware_auto_common/** opensource@apex.ai
common/autoware_auto_geometry/** opensource@apex.ai
common/autoware_auto_perception_rviz_plugin/** opensource@apex.ai satoshi.tanaka@tier4.jp taiki.tanaka@tier4.jp
common/autoware_auto_tf2/** jit.ray.c@gmail.com
common/autoware_point_types/** taichi.higashide@tier4.jp
common/autoware_testing/** adam.dabrowski@robotec.ai
common/bag_time_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/component_interface_specs/** isamu.takagi@tier4.jp
common/component_interface_utils/** isamu.takagi@tier4.jp
common/fake_test_node/** opensource@apex.ai
common/global_parameter_loader/** kenji.miyake@tier4.jp
common/goal_distance_calculator/** taiki.tanaka@tier4.jp
common/grid_map_utils/** maxime.clement@tier4.jp
common/interpolation/** fumiya.watanabe@tier4.jp takayuki.murooka@tier4.jp
common/kalman_filter/** koji.minoda@tier4.jp takeshi.ishita@tier4.jp yukihiro.saito@tier4.jp
common/motion_common/** christopherj.ho@gmail.com
common/motion_testing/** christopherj.ho@gmail.com
common/motion_utils/** satoshi.ota@tier4.jp taiki.tanaka@tier4.jp takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
common/osqp_interface/** fumiya.watanabe@tier4.jp maxime.clement@tier4.jp satoshi.ota@tier4.jp takayuki.murooka@tier4.jp
common/path_distance_calculator/** isamu.takagi@tier4.jp
common/perception_utils/** satoshi.tanaka@tier4.jp shunsuke.miura@tier4.jp takayuki.murooka@tier4.jp yusuke.muramatsu@tier4.jp
common/polar_grid/** yukihiro.saito@tier4.jp
common/rtc_manager_rviz_plugin/** taiki.tanaka@tier4.jp
common/signal_processing/** takayuki.murooka@tier4.jp
common/tier4_api_utils/** isamu.takagi@tier4.jp
common/tier4_autoware_utils/** kenji.miyake@tier4.jp takamasa.horibe@tier4.jp
common/tier4_calibration_rviz_plugin/** tomoya.kimura@tier4.jp
common/tier4_control_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_datetime_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_debug_rviz_plugin/** takayuki.murooka@tier4.jp
common/tier4_debug_tools/** kenji.miyake@tier4.jp
common/tier4_localization_rviz_plugin/** isamu.takagi@tier4.jp
common/tier4_perception_rviz_plugin/** yukihiro.saito@tier4.jp
common/tier4_planning_rviz_plugin/** takayuki.murooka@tier4.jp yukihiro.saito@tier4.jp
common/tier4_screen_capture_rviz_plugin/** taiki.tanaka@tier4.jp
common/tier4_simulated_clock_rviz_plugin/** maxime.clement@tier4.jp
common/tier4_state_rviz_plugin/** hiroki.ota@tier4.jp
common/tier4_traffic_light_rviz_plugin/** satoshi.ota@tier4.jp
common/tier4_vehicle_rviz_plugin/** yukihiro.saito@tier4.jp
common/time_utils/** christopherj.ho@gmail.com
common/trtexec_vendor/** daisuke.nishimatsu@tier4.jp
common/tvm_utility/** ambroise.vincent@arm.com
common/vehicle_constants_manager/** mfc@leodrive.ai
common/web_controller/** yukihiro.saito@tier4.jp
control/control_performance_analysis/** ali.boyali@tier4.jp berkay@leodrive.ai
control/external_cmd_selector/** kenji.miyake@tier4.jp
control/joy_controller/** kenji.miyake@tier4.jp
control/lane_departure_checker/** kyoichi.sugahara@tier4.jp
control/obstacle_collision_checker/** kenji.miyake@tier4.jp
control/operation_mode_transition_manager/** takamasa.horibe@tier4.jp
control/pure_pursuit/** takamasa.horibe@tier4.jp
control/shift_decider/** takamasa.horibe@tier4.jp
control/trajectory_follower/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/trajectory_follower_nodes/** takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
control/vehicle_cmd_gate/** takamasa.horibe@tier4.jp
evaluator/kinematic_evaluator/** dominik.jargot@robotec.ai
evaluator/localization_evaluator/** dominik.jargot@robotec.ai
launch/tier4_autoware_api_launch/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp
launch/tier4_control_launch/** takamasa.horibe@tier4.jp
launch/tier4_localization_launch/** yamato.ando@tier4.jp
launch/tier4_map_launch/** ryohsuke.mitsudome@tier4.jp
launch/tier4_perception_launch/** shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
launch/tier4_planning_launch/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
launch/tier4_sensing_launch/** yukihiro.saito@tier4.jp
launch/tier4_simulator_launch/** keisuke.shima@tier4.jp
launch/tier4_system_launch/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
launch/tier4_vehicle_launch/** yukihiro.saito@tier4.jp
localization/ekf_localizer/** koji.minoda@tier4.jp takamasa.horibe@tier4.jp takeshi.ishita@tier4.jp yamato.ando@tier4.jp
localization/gyro_odometer/** yamato.ando@tier4.jp
localization/initial_pose_button_panel/** yamato.ando@tier4.jp
localization/localization_error_monitor/** yamato.ando@tier4.jp
localization/ndt_scan_matcher/** kento.yabuuchi.2@tier4.jp koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/pose2twist/** yamato.ando@tier4.jp
localization/pose_initializer/** isamu.takagi@tier4.jp yamato.ando@tier4.jp
localization/stop_filter/** koji.minoda@tier4.jp yamato.ando@tier4.jp
localization/twist2accel/** koji.minoda@tier4.jp yamato.ando@tier4.jp
map/map_loader/** kenji.miyake@tier4.jp ryohsuke.mitsudome@tier4.jp
map/map_tf_generator/** azumi.suzuki@tier4.jp
map/util/lanelet2_map_preprocessor/** ryohsuke.mitsudome@tier4.jp
perception/compare_map_segmentation/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/crosswalk_traffic_light_estimator/** satoshi.ota@tier4.jp
perception/detected_object_feature_remover/** tomoya.kimura@tier4.jp
perception/detected_object_validation/** yukihiro.saito@tier4.jp
perception/detection_by_tracker/** yukihiro.saito@tier4.jp
perception/elevation_map_loader/** kosuke.takeuchi@tier4.jp taichi.higashide@tier4.jp
perception/euclidean_cluster/** yukihiro.saito@tier4.jp
perception/front_vehicle_velocity_estimator/** satoshi.tanaka@tier4.jp
perception/ground_segmentation/** abrahammonrroy@yahoo.com dai.nguyen@tier4.jp shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
perception/heatmap_visualizer/** kotaro.uetake@tier4.jp
perception/image_projection_based_fusion/** yukihiro.saito@tier4.jp yusuke.muramatsu@tier4.jp
perception/lidar_apollo_instance_segmentation/** yukihiro.saito@tier4.jp
perception/lidar_apollo_segmentation_tvm/** ambroise.vincent@arm.com
perception/lidar_apollo_segmentation_tvm_nodes/** ambroise.vincent@arm.com
perception/lidar_centerpoint/** yusuke.muramatsu@tier4.jp
perception/map_based_prediction/** yutaka.shimizu@tier4.jp
perception/multi_object_tracker/** jilada.eccleston@tier4.jp yukihiro.saito@tier4.jp
perception/object_merger/** yukihiro.saito@tier4.jp
perception/object_range_splitter/** yukihiro.saito@tier4.jp
perception/occupancy_grid_map_outlier_filter/** abrahammonrroy@yahoo.com yukihiro.saito@tier4.jp
perception/probabilistic_occupancy_grid_map/** yukihiro.saito@tier4.jp
perception/radar_fusion_to_detected_object/** satoshi.tanaka@tier4.jp
perception/radar_tracks_msgs_converter/** satoshi.tanaka@tier4.jp
perception/shape_estimation/** yukihiro.saito@tier4.jp
perception/tensorrt_yolo/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_classifier/** yukihiro.saito@tier4.jp
perception/traffic_light_map_based_detector/** yukihiro.saito@tier4.jp
perception/traffic_light_ssd_fine_detector/** daisuke.nishimatsu@tier4.jp
perception/traffic_light_visualization/** yukihiro.saito@tier4.jp
planning/behavior_path_planner/** fumiya.watanabe@tier4.jp kosuke.takeuchi@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp zulfaqar.azmi@tier4.jp
planning/behavior_velocity_planner/** kosuke.takeuchi@tier4.jp kyoichi.sugahara@tier4.jp makoto.kurihara@tier4.jp mamoru.sobue@tier4.jp satoshi.ota@tier4.jp shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomohito.ando@tier4.jp tomoya.kimura@tier4.jp yutaka.shimizu@tier4.jp
planning/costmap_generator/** kenji.miyake@tier4.jp
planning/external_velocity_limit_selector/** satoshi.ota@tier4.jp
planning/freespace_planner/** takamasa.horibe@tier4.jp
planning/freespace_planning_algorithms/** takamasa.horibe@tier4.jp
planning/mission_planner/** isamu.takagi@tier4.jp ryohsuke.mitsudome@tier4.jp takamasa.horibe@tier4.jp takayuki.murooka@tier4.jp
planning/motion_velocity_smoother/** fumiya.watanabe@tier4.jp
planning/obstacle_avoidance_planner/** takayuki.murooka@tier4.jp
planning/obstacle_cruise_planner/** takayuki.murooka@tier4.jp yutaka.shimizu@tier4.jp
planning/obstacle_stop_planner/** satoshi.ota@tier4.jp
planning/planning_debug_tools/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
planning/planning_error_monitor/** yutaka.shimizu@tier4.jp
planning/planning_evaluator/** maxime.clement@tier4.jp
planning/route_handler/** fumiya.watanabe@tier4.jp
planning/rtc_auto_mode_manager/** fumiya.watanabe@tier4.jp
planning/rtc_interface/** fumiya.watanabe@tier4.jp
planning/rtc_replayer/** fumiya.watanabe@tier4.jp taiki.tanaka@tier4.jp
planning/scenario_selector/** kenji.miyake@tier4.jp
planning/surround_obstacle_checker/** satoshi.ota@tier4.jp
sensing/geo_pos_conv/** yamato.ando@tier4.jp
sensing/gnss_poser/** yamato.ando@tier4.jp
sensing/image_diagnostics/** dai.nguyen@tier4.jp
sensing/image_transport_decompressor/** yukihiro.saito@tier4.jp
sensing/imu_corrector/** yamato.ando@tier4.jp
sensing/livox/livox_tag_filter/** kenji.miyake@tier4.jp
sensing/pointcloud_preprocessor/** abrahammonrroy@yahoo.com shunsuke.miura@tier4.jp yukihiro.saito@tier4.jp
sensing/tier4_pcl_extensions/** ryu.yamamoto@tier4.jp
sensing/vehicle_velocity_converter/** ryu.yamamoto@tier4.jp
simulator/dummy_perception_publisher/** yukihiro.saito@tier4.jp
simulator/fault_injection/** keisuke.shima@tier4.jp
simulator/simple_planning_simulator/** takamasa.horibe@tier4.jp
system/ad_service_state_monitor/** kenji.miyake@tier4.jp
system/bluetooth_monitor/** fumihito.ito@tier4.jp
system/component_state_monitor/** isamu.takagi@tier4.jp
system/default_ad_api/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/ad_api_adaptors/** isamu.takagi@tier4.jp
system/default_ad_api_helpers/automatic_pose_initializer/** isamu.takagi@tier4.jp
system/dummy_diag_publisher/** kenji.miyake@tier4.jp
system/dummy_infrastructure/** kenji.miyake@tier4.jp
system/emergency_handler/** kenji.miyake@tier4.jp
system/system_error_monitor/** fumihito.ito@tier4.jp kenji.miyake@tier4.jp
system/system_monitor/** fumihito.ito@tier4.jp
system/topic_state_monitor/** kenji.miyake@tier4.jp
system/velodyne_monitor/** fumihito.ito@tier4.jp
tools/simulator_test/simulator_compatibility_test/** shpark@morai.ai
vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/** tomoya.kimura@tier4.jp
vehicle/external_cmd_converter/** takamasa.horibe@tier4.jp
vehicle/raw_vehicle_cmd_converter/** taiki.tanaka@tier4.jp takamasa.horibe@tier4.jp
vehicle/steer_offset_estimator/** taiki.tanaka@tier4.jp
vehicle/vehicle_info_util/** shumpei.wakabayashi@tier4.jp taiki.tanaka@tier4.jp tomoya.kimura@tier4.jp yamato.ando@tier4.jp
